/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .bg_primary-color {
    background-color: #FFFFFF;
  }
  .primary-color {
    background-color: #FFFFFF;
  }
  .bg_secondary-color {
    background-color: #293241;
  }
  .secondary-color {
    color: #293241;
  }
  .custom-button.btn {
    background-color: #004214;
    color: #FFF;
    border: none;
    margin: 2px;
  }
  .custom-button.btn:hover {
    color: #FFF !important;
    border: none;
  }
  .overlay {
    height: 100%;
    width: 100%;
    opacity: 0.4;
  }
  .tag-button.btn {
    /* background-color: #f0ea96; */
    color: rgb(3, 87, 21);
    border: none;
    padding-left: 0.5em;
  }
  .green1.btn {
    background-color: #61B668;
    color: #FFF;
    border: none;
    margin: 2px;
  }
  .green2.btn {
    background-color: #47924F;
    color: #FFF;
    border: none;
    margin: 2px;
  }
  .green3.btn {
    background-color: #306E38;
    color: #FFF;
    border: none;
    margin: 2px;
  }
  .green4.btn {
    background-color: #1D4A24;
    color: #FFF;
    border: none;
    margin: 2px;
  }
  .customhr {
    color:rgb(105, 156, 116);
    border-width: 3px;
  }
  .my-margin{
    margin-left: 0px;
  }
  .view.btn {
    background-color: #006757FF;
    color: #FFF;
    border: none;
    margin: 2px;
  }
  .edit.btn {
    background-color: #40a19d;
    color: #FFF;
    border: none;
    margin: 2px;
  }
  .delete.btn {
    background-color: #e44b24;
    color: #FFF;
    border: none;
    margin: 2px;
  }
  .in-line-div {
    /* background-color: #f0ea96; */
    display: inline-block;
    margin-right: 1em;
    border-radius: 10%;
  }
  .col-md-6 {
    display: inline-block;
  }
  #width-auto {
    width:auto;
    padding-left:0px;
  }
  .home-button.btn {
    color: #FFF;
    background-color:rgb(77, 158, 224);
    border: none;
    margin: 2px;
    float: left;
  }
  .max-width {
    width: 80%;
    margin: 0 auto;
  }
  .back-button.btn {
    background-color: #2d6192ee;
    color: #FFF;
    border: none;
    margin: 2px;
  }
  .task {
    margin: 5%;
  }