/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .bg_primary-color {
    background-color: #FFFFFF;
  }
  .primary-color {
    background-color: #FFFFFF;
  }
  .bg_secondary-color {
    background-color: #293241;
  }
  .secondary-color {
    color: #293241;
  }
  .custom-button.btn {
    background-color: #004214;
    color: #FFF;
    border: none;
    margin: 2px;
  }
  .custom-button.btn:hover {
    color: #FFF !important;
    border: none;
  }
  .overlay {
    height: 100%;
    width: 100%;
    opacity: 0.4;
  }
  .tag-button.btn {
    background-color: #f0ea96;
    color: rgb(3, 87, 21);
    border: none;
    margin: 2px;
  }
  .green1.btn {
    background-color: #61B668;
    color: #FFF;
    border: none;
    margin: 2px;
  }
  .green2.btn {
    background-color: #47924F;
    color: #FFF;
    border: none;
    margin: 2px;
  }
  .green3.btn {
    background-color: #306E38;
    color: #FFF;
    border: none;
    margin: 2px;
  }
  .green4.btn {
    background-color: #1D4A24;
    color: #FFF;
    border: none;
    margin: 2px;
  }
  .customhr {
    color:rgb(105, 156, 116);
    border-width: 3px;
  }
  .my-margin{
    margin-left: 100px;
  }